{%extends  'base.html'%}
{% load static %}
{% block Title %} Donations {% endblock %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'css/usersindex.css' %}">
{% endblock %}
{% block content %}
<div class="sidebar" style="width:15%">
    <br/>
    <br/>
    <br/>
    <a href="{% url 'users:userprofile' %}" class="w3-bar-item w3-button">Profile</a> <br> <br>
    <a href="{%url 'users:userproject' user.id %}" class="w3-bar-item w3-button">Projects </a> <br> <br>
    <a href="{%url 'users:userdonation' user.id %}" class="w3-bar-item w3-button">Donations</a> <br> <br>
    <a href="{%url 'users:logout' %}" class="w3-bar-item w3-button">Log out</a> <br> <br>
</div>
<div class="container" style="margin-left:20%">

    <br>
Hello from ay 7aga
    </div>
{% endblock %}