{%extends 'base.html'%}
{%block content%}
<div class="container text-center" style="justify-content: center;margin-top: 350px;">
    <form method="post" >
        {% csrf_token %}
        <input type="number" max="10" min="0" value="0" name="rate" style="padding: 10px; border-radius: 10px;width: 350px;"/>
        <input type="submit" value="Add Rate" style="background-color:#72B01D; border-radius:10px; text-decoration: none; color: #000; font-weight: 600; margin-top: 30px; padding: 10px; border: none;" id="createProjectbtnID"/>
        <br/>
        <span style="color: red;">{{error_msg}}</span>
    </form>
</div>



    {%endblock%}