{%extends 'base.html'%}
{% load mathfilters %}
{%block content%}

<div class="container text-center">
    <div class="row">
        <div class="col-lg-12 ">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    {% for project in project_list%}
                    <li data-target="#carouselExampleIndicators" data-slide-to={{forloop.counter0}}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in images %}
                    {% if forloop.first %}

                    <div class="carousel-item active ">
                        {% else %}
                        <div class="carousel-item  ">
                            {% endif %}
                            <img style="width:100%;height:500px;" src="{{image.img.url}}">
                        </div>
                        {% endfor %}
                    </div>


                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                </div>


            </div>

        </div>
        <div class="col-lg-12 " style="margin-bottom:200px">
            <h1><b>{{project.title}}</b></h1>
            <p><b>Details</b>: {{project.details}}</p>
            <p><b>Total target:</b> {{project.total_target}}</p>
            <p><b>Start date:</b> {{project.start_date}}</p>
            <p><b>End date:</b> {{project.end_date}}</p>
            <p><b>Category:</b> {{category.category_name}}</p>
            {% if count > 0 %}
            <p><b>Rate:</b> {{sum|div:count}}⭐</p>
            {%endif%}
            <p><b>Donations:</b> {{donation.0.donation_value}}</p>
            <p><b>tags:</b> {%for tag in tags%}
                <span class="badge bg-dark">
                {{tag.tag_name}}
                </span>
                {%endfor%}
            </p>
            <form method="post">
                {%csrf_token%}
                <input type="number" name="value"/>
                <input type="submit" class="btn btn-dark" value="donate"/>
            </form>

            {%if project.total_target|mul:0.25 > donation.0.donation_value%}
            <a href="{%url 'cancel_project' project.project_id%} ">Cancel Project</a>
            {%endif%}
            <a href="{%url 'comments' project.project_id%}" class="btn btn-dark">Add comment</a>
            <a href="{%url 'report_project' project.project_id%}" class="btn btn-dark" >report project</a>


            <!--            <form mmethod="post" action="/project/create">-->
            <!--                {%csrf_token%}-->
            <!--                <input type="submit"/>-->
            <!--            </form>-->


        </div>
    </div>

</div>


{%endblock%}
