{% extends 'base.html' %}
{% load static %}

{% block Title %}
Crowd Funding
{% endblock %}

{%block content%}
<div class="container  " style="border-radius: 40px;margin-bottom: 100px;">
    <div class="row">
        <h1 class="text-center">Projects</h1>
        {% for project in project_list %}
        <div class="card col-lg-3" style="border-radius:20px ; padding: 5px; margin: 5px; margin-right: auto; margin-left: auto; margin-top: 20px;">
            {% if project.0.img %}
            {% load static %}
            <a href="{% url 'project_info' project.0.project_id.project_id %}">
            <img class="card-img-top w-100" height="200" src="{{project.0.img.url}}" alt="Card image" style="border-radius: 15px;">
            </a>
          {% else %}
          <img class="card-img-top w-100" height="200" src="" alt="Not Found ">
          {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{project.0.project_id.title}}</h4>
                <p class="card-text">Total target : <span class="text-success">{{project.0.project_id.total_target}} $</span></p>
                <p class="card-text"> <Details> <span class="text-success">{{project.0.project_id.details}} </span></Details>  </p>
                <p class="card-text">Start time : <span class="text-success">{{project.0.project_id.start_date}} </span></p>
                <p class="card-text">End time : <span class="text-success">{{project.0.project_id.end_date}}</span></p>

            </div>

        </div>
        {%endfor%}
      </div>

</div>


{%endblock content%}
