{% extends 'users/password_reset/base2.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <h4 class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </h4>
		  <h4 class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </h4>
		<div class="logoin">
			<center>
        <a href="{%url 'users:login' %}" class="btn btn-outline-success  active" role="button"
        aria-pressed="true"><h5>Return to Login page</h5></a>
				</center>
    </div>
	</div>
</div>

{% endblock %}
