{% extends 'base.html' %}
{% load static %}

{% block Title %}
Crowd Funding
{% endblock %}

{%block content%}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% load static %}
      <img src="" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container bg-light d-flex justify-content-center" style="border-radius: 40px;">

  <div class="text-center " style="font-size: 50px;"> Latest Projects</div>
  <div class="container-fluid" >
    <div class="row">
      {%for project in latestProjectsList %}
      <div class="card col-md-4" style="border-radius:20px ; padding: 5px; margin: 5px;">
        <img class="card-img-top" src="{{project.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">
          <Details>{{project.details}}</Details>
          </p>
          <p class="card-text">Target: {{project.target}}</p>
          <p class="card-text"><small class="textmuted">{{project.start_date}}</small></p>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
<div class="container bg-light" style="border-radius: 40px">
  <h1 class="mt-2">Categories</h1>
  <div class="row mt-2 mb-5">
      {% for category in categories %}
      <div class="col-md-3">
        <a href="projectlist/{{category.category_id}}" target="_blank">{{category.category_name}}</a>
      </div>
      {% endfor %}

  </div>

</div>
{%endblock%}